<nav class="navbar navbar-dark bg-primary px-1 mb-4">
  <div class="container-fluid">
    <a role="button" class="navbar-brand text-start" [routerLink]="['/']">
      <a role="button" class="text-white me-2" (click)="openSidebar($event)"><i
          class="fa-solid fa-bars-staggered"></i></a>
      SLMS
    </a>
    <div class="d-flex">
      <ul class="navbar-nav">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <app-user-img [imagePath]="loggedInUser.profileImage" [hideImageFromViewer]="true"></app-user-img>
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" role="button" routerLink="/profile">My Profile</a>
            <a class="dropdown-item text-danger" role="button" (click)="logout($event)">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>