<div class="page-wrapper page">
  <div class="container">
    <section class="page-title">
      <div class="row align-items-center">
        <!-- Greeting View Start -->
        <div class="col">
          <h1 class="showcase-title"><span>Hello</span> {{authSvc.getLoggedInUser?.name || ""}},</h1>
          <p>Welcome, Plan your leaves as per your need.</p>
        </div>
        <!-- Greeting View End -->
      </div>
    </section>
    <section class="page-content">
      <div class="row">
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-primary text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'applied-leave-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.applied || 0}}</h1>
              <h5 class="card-label h5">Leave's Applied</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-warning text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'pending-leave-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.pending || 0}}</h1>
              <h5 class="card-label h5">Leave's Pending</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-success text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'approved-leave-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.approved || 0}}</h1>
              <h5 class="card-label h5">Leave's Approved</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-danger text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'rejected-leave-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.rejected || 0}}</h1>
              <h5 class="card-label h5">Leave's Rejected</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->

      </div>

      <!-- Table View Start -->
      <div class="row pt-5 align-items-center">
        <div class="col-12 col-md-8">
          <h2>Recent Leaves</h2>
        </div>
        <div class="col-12 col-md-4 text-end">
          <a [routerLink]="['/leaves']" class="btn btn-primary">View All Leaves</a>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div class="card">
            <div class="card-body bg-grey-light px-0 py-1">
              <div class="table-wrapper bg-light table-responsive">
                <ngx-spinner [name]="'leaves-spinner'" [fullScreen]="false" size="default"
                  type="ball-clip-rotate-multiple"> </ngx-spinner>
                <app-table [sortOptions]="sortOptions">
                  <tbody>
                    <tr *ngFor="let leave of leaveData.data">
                      <td>
                        {{leave.fromDate | date : 'mediumDate':'GMT'}}
                      </td>
                      <td>
                        {{leave.toDate | date : 'mediumDate':'GMT'}}
                      </td>
                      <td>{{ leave.reason || "" }}</td>
                      <td><span class="badge" [ngClass]="utilSvc.getLeaveStatus(leave)">{{
                          leave.status }}</span></td>
                      <td>
                        {{leave.createdAt | date : 'mediumDate'}}
                      </td>
                      <td>
                        <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/leaves', leave._id]"
                          ngbTooltip="Leave Details"><i class="fa-solid fa-eye"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </app-table>
                <div class="text-center" *ngIf="!leaveData.data?.length">
                  <p class="helper-text"><span translate>No records available.</span></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Table View End -->
    </section>
  </div>
</div>