<div class="modal-header text-center border-bottom-0 pb-0 d-block">
  <h2>Confirm Password</h2>
</div>
<div class="modal-body pt-0">
  <form [formGroup]="passwordForm">
    <div class="row">
      <div class="col-12 mt-2 mb-4 mx-3">
        <small class="faded-text"><em>Please provide your current password, it's required to update your
            profile.</em>
        </small>
      </div>
      <div class="col-md-12 col-12 mb-2">
        <div class="form-group mx-3">
          <label for="password" class="form-label">Password *</label>
          <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
          <small class="form-text text-danger" *ngIf="utilSvc.isFieldInvalid('password', passwordForm, 'required')">This
            field is required</small>
          <small class="form-text text-danger"
            *ngIf="utilSvc.isFieldInvalid('password', passwordForm, 'minlength')">Password should be atleast 8
            characters long</small>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer border-top-0">
  <div class="row w-100">
    <div class="col-12 col-md-6 my-1">
      <button type="button" class="btn btn-block btn-primary" (click)="onSubmit()">Submit</button>
    </div>
    <div class="col-12 col-md-6 my-1">
      <button type="button" class="btn btn-block btn-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>