<div class="page-wrapper page">
  <div class="container">
    <section class="page-title">
      <div class="row align-items-center">
        <!-- Greeting View Start -->
        <div class="col">
          <h1 class="showcase-title"><span>Hello</span> {{authSvc.getLoggedInUser?.name || ""}},</h1>
          <p>Welcome to the SLMS system.</p>
        </div>
        <!-- Greeting View End -->
      </div>
    </section>
    <section class="page-content">
      <div class="row">
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-primary text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'total-members-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.totalMembers}}</h1>
              <h5 class="card-label h5">Total Staff Member's</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-success text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'active-members-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.activeMembers}}</h1>
              <h5 class="card-label h5">Active Member's</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-danger text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'inactive-members-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.inactiveMembers}}</h1>
              <h5 class="card-label h5">Inactive Member's</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
        <!-- Cards View Start -->
        <div class="col-12 col-md-6 col-lg-3 my-2">
          <div class="card count-card bg-purple text-light card-has-icon card-icon-survey">
            <ngx-spinner [name]="'today-leave-members-count-spinner'" [fullScreen]="false" size="default"
              type="ball-clip-rotate-multiple">
            </ngx-spinner>
            <div class="card-body">
              <h1 class="card-title showcase-title">{{counts.todayLeaveMembers}}</h1>
              <h5 class="card-label h5">Member's on Leave Today</h5>
            </div>
          </div>
        </div>
        <!-- Cards View End -->
      </div>

      <!-- Table View Start -->
      <div class="row pt-5 align-items-center">
        <div class="col-12 col-md-8">
          <h2>Recent Added Members</h2>
        </div>
        <div class="col-12 col-md-4 text-end">
          <a [routerLink]="['/staff']" class="btn btn-primary">View All Members</a>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div class="card">
            <div class="card-body bg-grey-light px-0 py-1">
              <div class="table-wrapper bg-light table-responsive">
                <ngx-spinner [name]="'staff-spinner'" [fullScreen]="false" size="default"
                  type="ball-clip-rotate-multiple"> </ngx-spinner>
                <app-table [sortOptions]="sortOptions" [defaultField]="'createdAt'">
                  <tbody>
                    <tr *ngFor="let staff of staffData.data">
                      <td>
                        <app-user-img [imagePath]="staff.profileImage" [imgSize]="40"></app-user-img>
                      </td>
                      <td>
                        {{ staff.name || "" }}
                      </td>
                      <td>
                        <a class="text-dark" href="mailto:{{staff.email || ''}}">{{staff.email || ''}}</a>
                      </td>
                      <td><a class="text-dark" href="tel:{{staff.contactNumber || ''}}">{{staff.contactNumber ||
                          ''}}</a>
                      </td>
                      <td><span class="badge" [ngClass]="utilSvc.getUserStatus(staff)">{{
                          staff.status }}</span>
                      </td>
                      <td>
                        {{staff.createdAt | date : 'mediumDate'}}
                      </td>
                      <td>
                        <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/staff', staff._id]"
                          ngbTooltip="View Details"><i class="fa-solid fa-eye"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </app-table>
                <div class="text-center" *ngIf="!staffData.data?.length">
                  <p class="helper-text"><span translate>No records available.</span></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Table View End -->
    </section>
  </div>
</div>