<div class="page-wrapper page">
  <div class="container">
    <section class="page-title">
      <div class="row align-items-center">
        <div class="col">
          <a (click)="goBack($event)" class="btn btn-outline-secondary"><i class="fa-solid fa-angle-left"></i> Back</a>
          <h1 class="showcase-title h2">{{isUserAdmin ? "Add New Hod" : " Add New Staff Member"}}</h1>
        </div>
      </div>
    </section>
    <section class="page-content mt-4">
      <app-add-user-form *ngIf="isUserAdmin" [userRole]="userRoleType.HOD"
        (formSubmit)="onSubmit($event)"></app-add-user-form>
      <app-add-user-form *ngIf="isUserHod" [userRole]="userRoleType.STAFF" [disableDepartment]="true"
        [defaultDepartment]="defaultDepartment" (formSubmit)="onSubmit($event)"></app-add-user-form>
    </section>
  </div>
</div>