<div class="page-wrapper page mt-4">
  <div class="container mxw-500">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>Login</h2>
      </div>
      <div class="col-12">
        <form [formGroup]="loginForm">
          <div class="row">
            <div class="col-md-12 col-12 mb-2">
              <div class="form-group">
                <label for="username" class="form-label">Username/Email/Contact Number *</label>
                <input type="text" class="form-control" id="username" placeholder="" formControlName="userName">
                <small class="form-text text-danger"
                  *ngIf="utilSvc.isFieldInvalid('userName', loginForm, 'required')">This
                  field is required</small>
                <small class="form-text text-danger"
                  *ngIf="utilSvc.isFieldInvalid('userName', loginForm, 'customRequired')">Please provide
                  valid username</small>
              </div>
            </div>
            <div class="col-md-12 col-12 mb-2">
              <div class="form-group">
                <label for="password" class="form-label">Password *</label>
                <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
                <small class="form-text text-danger"
                  *ngIf="utilSvc.isFieldInvalid('password', loginForm, 'required')">This
                  field is required</small>
                <small class="form-text text-danger"
                  *ngIf="utilSvc.isFieldInvalid('password', loginForm, 'minlength')">Password should be atleast 8
                  characters long</small>
              </div>
            </div>
            <div class="col-12 text-end">
              <a routerLink="/reset">Reset/Forgot Password</a>
            </div>
            <div class="col-12 my-2">
              <button class="btn btn-primary btn-block" (click)="onSubmit()">Submit</button>
            </div>
            <div class="col-12">
              Don't have an account? <a routerLink="/register/staff">Register</a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>