<!-- <div class="modal-header text-center border-bottom-0 pb-0 d-block">
  <h2>Image Viewer</h2>
</div> -->
<div class="modal-body mt-3 ">
  <div class="row">
    <div class="col-12 mt-2 mb-4 text-center">
      <img [src]="imgUrl || 'assets/images/default-profile.png'" [width]="200" [height]="200">
    </div>
  </div>
</div>
<div class="modal-footer border-top-0">
  <div class="row w-100">
    <div class="col-12 col-md-12 my-1">
      <button type="button" class="btn btn-block btn-primary" (click)="activeModal.close(null)">Ok</button>
    </div>
  </div>
</div>