<div class="page-wrapper page mt-4">
  <div class="container mxw-500">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>Reset Password</h2>
      </div>
      <div class="col-12 text-center mt-2 mb-4" *ngIf="!isPasswordUpdated">
        <small class="faded-text"><em>Please provide the new password that you want to set.</em>
        </small>
      </div>
      <div class="col-12" *ngIf="!isPasswordUpdated">
        <form [formGroup]="updatePasswordForm">
          <div class="row">
            <div class="col-md-12 col-12 mb-2">
              <div class="form-group">
                <label for="password" class="form-label">New Password *</label>
                <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
                <small class="form-text text-danger"
                  *ngIf="utilSvc.isFieldInvalid('password', updatePasswordForm, 'required')">This
                  field is required</small>
                <small class="form-text text-danger"
                  *ngIf="utilSvc.isFieldInvalid('password', updatePasswordForm, 'minlength')">Password should be atleast
                  8
                  characters long</small>
              </div>
            </div>
            <div class="col-12 my-2">
              <button class="btn btn-primary btn-block" (click)="onSubmit()">Submit</button>
            </div>
            <div class="col-12 mt-2">
              <a routerLink="/login">Back to Login</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12" *ngIf="isPasswordUpdated">
        <div class="row text-center">
          <div class="col-12">
            <img class="w-300"
              src="https://firebasestorage.googleapis.com/v0/b/slms-dev.appspot.com/o/congratulation.jpg?alt=media&token=2fc927c1-bebd-47b4-b6df-37885920563e"
              alt="">
          </div>
          <div class="col-12 mt-4 faded-text">
            <span>
              Your password has been updated successfully.
            </span>
          </div>
          <div class="col-12">
            <a routerLink="/login">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>